<div class="content-wrapper">
  <div id="table">
    <table class="gridtable">
      <tr>
        <th class="round_1 current"> 1st ROUND </th>
        <th class="round_2 "> 2nd ROUND </th>
        <th class="round_3"> SWEET 16 </th>
        <th class="round_4"> ELITE EIGHT </th>
        <th class="round5"> FINAL FOUR </th>
        <th class="round_6"> CHAMPION </th>
        <th class="round_5"> FINAL FOUR </th>
        <th class="round_4"> ELITE EIGHT </th>
        <th class="round_3"> SWEET 16 </th>
        <th class="round_2"> 2nd ROUND </th>
        <th class="round_1 current"> 1st ROUND </th>
      </tr>
      <tr>
        <td class="current"> March 16-17 </td>
        <td> March 18-19 </td>
        <td> March 23-24 </td>
        <td> March 25-26 </td>
        <td> April 1 </td>
        <td> April 3 </td>
        <td> April 1 </td>
        <td> March 25-26 </td>
        <td> March 23-24 </td>
        <td> March 18-19 </td>
        <td class="current"> March 18-19 </td>
      </tr>
    </table>
  </div>

  <div id="bracket">
    <div ui-view="rounds"></div>
    <div ui-view="round5"></div>
    <div ui-view="round6"></div>
    <div ui-view="playerKey"></div>
  </div>
</div>